<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title> Yahoo </title>
  
        <link rel="stylesheet" href="/public/assets/css/style.css">

</head>
<body style="background-color:rgb(181, 199, 241)">
    {{{body}}}

 <script src="/public/assets/js/app.js"></script>
</body>
</html>
