
<h1 style="text-align:center">Welcome to Yahoo news</h1>
<h3 style="text-align:center">Let's read some news</h3>

<div class="style" style="background-color: cornflowerblue; padding: 10px; height: 100px; width:300px;  text-align:center;  margin: auto;" >
<h3>Articles</h3>


<div class="container">


           
    </div>
    
      
</div>



</body>
</html>